name: Docker Build and Push
on:
  push:
    branches: [ main ]
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_TOKEN }}" | docker login -u "ali77808" --password-stdin
      
      - name: Build and Push
        run: |
          docker build -t ali77808/web-hosting-guide:latest .
          docker push ali77808/web-hosting-guide:latest